<footer>
  <div id="zsm" style="position: fixed; bottom: 0px; right: 0px;z-index:999; width: 15%; background-color: rgb(241, 241, 241); border-top: 1px solid rgb(204, 204, 204); height: auto;">
    <a href="/zs.jpg" target="_blank"><img src="/zs.jpg" alt="赞赏" style="width: 100%;" title="老板支持一下吧~"></a>
  </div>
</footer>
